:root {
    --iris:#4D5AE5;
    --navy-blue:#2E2F42;
    --ocean:#404BBF;
    --slate:#434455;
    --light_slate:#8E8F99;
    --corn_flower:#E7E9FC;
    --cloud:#F4F4FD;
}

html,body {
    background-color: #ffffff;
    color: var(--slate);
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    line-height: 1.5;
letter-spacing: 0.02em;
}


/* HEADER SECTION */
.header {
    color: white;
    border: 1px solid #E7E9FC;
    
}

.header-logo {
    font-family:"Raleway",sans-serif;
    color:var(--navy-blue);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
     text-decoration: none;
    text-transform: uppercase;
}

.web {
    color:var(--iris)
}

.studio {
    color: var(--navy-blue);
}
/* NAVBAR */
.nav-link {
    color: var(--navy-blue);
        text-decoration: none;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}
/* hovering and focusing states  */
.nav-link:hover,.nav-link:focus {
    color: var(--ocean);
}
.nav-link_address:hover,
.nav-link_address:focus {
    color: var(--ocean);
}
.nav-link:active {
    text-decoration: underline var(--ocean);
}
#team .header-3:hover,#team .header-3:focus{
color: var(--ocean);
}


button {
    cursor: pointer;
    background-color: var(--iris);
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;}

    button:hover,button:focus {
        background-color: var(--ocean);
    }
/* if we are not gonna use it why we define class names i dont get it dude */

 .nav-link_address {
    color: var(--slate);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}


/* HEADER-1 STYLES */
.header-1 {
color: white;

font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}
/* h2 styles */
.header-2 {
    color: var(--navy-blue);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
/* h3styles */
.header-3 {
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

#cover {
    background-color: var(--navy-blue);
}

#team {
    background-color:var(--cloud);
}
.portfolio-section {
    border: 1px solid var(--corn_flower);
}

footer {
    background-color: var(--navy-blue);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
        color:#4D5AE5;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-transform: uppercase;

}
.footer_web {
    line-height: 1.17;
}

.footer_studio {
 color: #F4F4FD;
}

footer p {
color: white;
}

